/* .body {
    margin-top: 2rem;
} */

.bodygif {
    background-color: rgba(76, 175, 80, 0%);
}

#button {
    margin-top: 3.5rem;
    background-color: rgba(167, 167, 167, 0);
    border: solid black;
    color: black;
    width: 5rem;
}

#button:hover {
    background-color: black;
    color: white;
}

.masterdiv {
    display: flex;
    flex-direction: column;
}

